
[security_check]
	first_check_hour = 2
	first_check_min = 0
	second_check_hour = 4
	second_check_min = 0

[timeout]
	input_sleep = 600
	auto_cancel = 30
	idle_sleep = 60

[power_button]
	suspend = 100
	shutdown = 4000
#	shutdown_menu = 1000
#	shutdown_menu_timeout = 5000
#	shutdown_menu_format = "text"
#	shutdown_menu_file = "/home/main-user/shutdown_menu.bmp"
#	shutdown_menu_text = "Shutdown?            Cnl: no, Ent: yes"

[bluetooth_commskey]
	start_keydowntime = 0
	start_keyreleasetime = 2000

[battery_status]
	request_button_timeout = 3
	low_battery_threshold = 5
	low_battery_ledlevel = 14

[idle_screen]
	data_format = "bitmap"
	file = "/home/main-user/idle-screen.bmp"
	text = "  * MIURA SYSTEMS *    Payment Interface "

[IP_Configuration]
	SSL = 0


[CTLS_Configuration]
	magsense = enabled

# ISO 639 2 letter language codes matched to tag 5F2D 'Language Preference' optionally provided by the card.
# This section configures four settings which should always have a default for use when 5F2D is not available or does not match.
# A list of special characters supported can be found here http://en.wikipedia.org/wiki/ISO/IEC_8859-1
# ensure your text editor can correctly insert these values as most editors uses extended character sets by default.
# an example is the "�", used in the Swedish prompt for Incorrect PIN, which uses the code 0xF6

# this field is used for line 3 of the display
# maximum of 21 characters allowed
[PIN_Entry_Prompt1]
	default = "Enter PIN:"
	en = "Enter PIN:"
	de = "PIN eingeben"
	sv = "Ange PIN"

# this field is used for line 3 of the display
# maximum of 21 characters allowed
[PIN_Entry_Prompt2]
	default = "Enter PIN (LAST TRY)"
	en = "Enter PIN (LAST TRY)"
	de = "letzter PIN Versuch"
	sv = "PIN - Sista f�rs�ket"

# this field is used for line 3 of the display
# maximum of 21 characters allowed
[PIN_Entry_BypassPrompt1]
	default = "Enter PIN:"
	en = "Enter PIN:"
	de = "PIN eingeben"
	sv = "Ange PIN"

# this field is used for line 3 of the display
# maximum of 21 characters allowed
[PIN_Entry_BypassPrompt2]
	default = "Enter PIN (LAST TRY)"
	en = "Enter PIN (LAST TRY)"
	de = "letzter PIN Versuch"
	sv = "PIN - Sista f�rs�ket"

# this field is used for the entire display
# maximum of 84 characters allowed
[PIN_Entry_Valid_PIN]
	default = "                            PIN OK"
	en = "                            PIN OK"
	de = "                         Pin korrekt"
	sv = "                            PIN OK"

# this field is used for the entire display
# maximum of 84 characters allowed
[PIN_Entry_Incorrect_PIN]
	default = "                         INCORRECT PIN"
	en = "                         INCORRECT PIN"
	de = "                          Pin falsch"
	sv = "                          PIN OGILTIG"

# The following three settings allow customisation of the amount line (line 2).
# the configuration should not exceed 21 characters in total for any given amount.
# 13 characters are required for the maximum EMV supported amount such as "1234567890.12"
# A space is always inserted after a preffix and before a suffix.

# Selection based on 5F2A (Transaction Currency Code, ISO 4217)
# optional field, left justified on line 2 of the pin entry screen.
# maximum of 4 characters allowed (including space padding)
# example amount line for South Africa 710 "ZAR            123.45"
[PIN_Entry_Amount_Prefix]
	985 = "PLN "

# Selection based on 5F2A (Transaction Currency Code, ISO 4217)
# optional field, right justified on line 2 of the pin entry screen.
# maximum of 4 characters allowed (including space padding)
# example amount line for Sweden 752 "            123.45 kr"
[PIN_Entry_Amount_Suffix]
	752 = "kr"

# Optional configuration to Justfy the Amount line
# Supported options are "left", "right", "centre" and "full"
#
# examples using just a PIN_Entry_Currency_Symbol = "A3"
# "              £123.45" right
# "              £123.45" full
# "£123.45              " left
# "       £123.45       " centre
#
# examples using all options
# "   GBP £123456.78 GBP" right
# "GBP   £123456.78  GBP" full
# "GBP £123456.78 GBP   " left
# "  GBP £123456.78 GBP " centre
[PIN_Entry_Amount_Line]
	Justify = "right"

[Present_Card_Entry_Amount_Line]
	Justify = "centre"

# Optional configuration to Justfy the Application Label line
# Supported options are "left", "right" and "centre"
[PIN_Entry_Label_Line]
	Justify = "left"

# Selection based on 5F2A (Transaction Currency Code, ISO 4217)
# ISO 4217 Numbers translated to Miura Font codes in HEX
# optional field, immediate preffix to the amount on line 2 of the pin entry screen.
# example for 702 SGD "S$123.45"
# example for 826 GBP "£123.45"
[PIN_Entry_Currency_Symbol]
	702 = "5324"
	710 = "52"
	826 = "A3"
	840 = "24"
	978 = "80"

[Present_Card_Entry_Currency_Symbol]
	702 = "5324"
	710 = "52"
	826 = "A3"
	840 = "24"
	978 = "80"

# unsolicited E6 Status Messages are send during PIN Entry
# by default MPI does not send an E6 when the PIN Length changes.
# To enable an E6 message on PIN Length changes, set ReportLengthChange=1
[PIN_Entry_Notifications]
	ReportLengthChange=0

[APP_Select_Menu_Prompt]
	default = "Select:"

[APP_Select_Menu_More]
	default = "More:"

[MPI]
	displaysplash=1
	init_format="text"
	init_text="MPI Initialising..."
	init_file="/home/main-user/init.bmp"
	shutdown_format="text"
	shutdown_text="*** Shutting Down ***"
	shutdown_file="/home/main-user/shutdown.bmp"

[contactless]
	timeout = 30

[display]
	character_encoding = 1

# $Revision: mSdk-V0.1 $
